* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8FAFC;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1E293B;
}

a {
  text-decoration: none;
}